<div class="grid grid-cols-2 gap-4">
  <% @recipes.each do |recipe| %>
    <div class="card bg-base-100 shadow-xl rounded-lg overflow-hidden" style="width: 200px; height: 500px;">
      <div class="h-1/2 w-full flex items-center justify-center overflow-hidden">
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag 'noimage.png', class: "w-full h-full object-contain" %>
        <% end %>
        <!--TODO: 投稿画像がない場合の画像を設定する
            TODO: 投稿されたレシピ画像へ変更する-->
      </div>

      <!--アバター画像とユーザー名-->
      <div class="p-4 h-1/2 flex flex-col">
        <div class="flex items-center mb-2">
          <div class="w-8 h-8 rounded-xl overflow-hidden mr-2">
            <%= link_to image_tag('妊婦.jpg', class: "w-full h-full object-cover"), "#" %>
            <!--TODO: ユーザーページに遷移させる
                TODO: アバター画像へ変更する-->
          </div>
          <div class="pt-5 text-xs"><%= recipe.user.name %></div>
        </div>

        <!--レシピ名-->
        <h3 class="font-bold text-sm mb-2"><%= recipe.title %></h3>

        <!--栄養素表示-->
        <h2 class="text-xs font-semibold mb-1"><%= t('recipes.recipe_card.nutrient_name') %></h2>
        <div class="flex flex-wrap gap-1">
          <% recipe.nutrient_names.each_with_index do |nutrient, index| %>
            <% badge_color = get_badge_color(index) %>
            <span class="badge <%= badge_color %> text-xs">
              <%= t("nutrients.#{nutrient}") %>
            </span>
          <% end %>
          <% if recipe.nutrient_names.empty? %>
            <p class="text-xs text-gray-500"><%= t('recipes.recipe_card.not_nutrient_found') %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>