<div class="flex justify-center items-center my-8">
  <div class="relative inline-block text-3xl font-bold px-16 py-2
              before:content-[''] before:absolute before:top-1/2 before:left-0 before:inline-block before:w-12 before:h-[2px] before:border-t before:border-b before:border-black
              after:content-[''] after:absolute after:top-1/2 after:right-0 after:inline-block after:w-12 after:h-[2px] after:border-t after:border-b after:border-black">
    <%= t('recipes.cook_laters.title') %>
  </div>
</div>
<% if @cook_later_recipes.present? %>
  <div class="grid grid-cols-2 gap-4">
    <% @cook_later_recipes.each do |recipe| %>
      <%= render 'shared/recipe_card', recipe: recipe, user: current_user %>
    <% end %>
  </div>
<% else %>
  <div class="flex justify-center items-center h-96">
    <p class="text-2xl text-gray-500"><%= t('messages.not_have', model: CookLater.model_name.human) %></p>
  </div>
<% end %>
<!--無限スクロール ページネーション-->
<%= turbo_frame_tag "recipes_page_#{@cook_later_recipes.current_page}" do %>
  <div class="grid grid-cols-2 gap-4">
    <% @cook_later_recipes.each do |recipe| %>
      <%= render 'shared/recipe_card', recipe: recipe, user: current_user %>
    <% end %>
  </div>
  <% if @cook_later_recipes.next_page %>
    <%= turbo_frame_tag "recipes_page_#{@cook_later_recipes.next_page}",
      src: cook_laters_recipes_path(page: @cook_later_recipes.next_page),
      loading: :lazy
    %>
  <% end %>
<% end %>
<!--
  1. 現在のページのレシピを表示
  2. 次のページがある場合は下部へセットし、表示領域に入ると読み込まれる（loading: :lazyを使用して読み込みを遅延させる)

    src = 次のページのURLを指定する
    loading: :lazy = ページが表示されるまで読み込みを遅延させる(無限スクロールの鍵の部分)
-->
