<!--TODO: レシピ投稿失敗時、アラートにて必須項目を知らせる-->
<div class="container mx-auto px-4 py-8">

  <!--画像タイトル-->
  <h1 class="text-3xl font-bold mb-4"><%= @recipe.title %></h1>

  <!--タイトル下実線-->
  <div class="border-t border-gray-600 my-4"></div>

  <!--レシピ説明-->
  <p class="text-gray-600 mb-4"><%= @recipe.description %></p>

  <div class="mb-6">
    <!-- レシピ投稿画像 -->
    <div class="mb-4">
    <% if @recipe.recipe_image? %>
      <%= image_tag @recipe.recipe_image.url, class: "w-full h-60 object-contain rounded-lg" %>
    <% else %>
        <%= image_tag "recipe_no_image.png", class: "w-full h-60 object-contain rounded-lg" %>
    <% end %>
      <!--object-contain :画像全体を表示、尚且つ指定したサイズに収める-->
    </div>

    <!-- アバターとユーザー名 -->
    <div class="flex justify-between items-start">
      <div class="flex items-center">
        <% if @recipe.user.avatar? %>
          <%= image_tag @recipe.user.avatar.url, class: "w-9 h-9 rounded-full mr-2" %>
        <% else %>
          <%= image_tag "default_avatar.png", class: "w-9 h-9 rounded-full mr-2" %>
        <% end %>
          <!-- TODO: アバター画像クリック後はプロフィールページへ遷移 -->
        <div class="flex items-end">
          <span class="text text-xs text-gray-700"><%= @recipe.user.name %></span>
        </div>
      </div>

      <!--yummyボタン-->
      <div class="flex flex-col items-start gap-2">
        <% if user_signed_in? %>
          <div class="yummy_btn">
            <%= render 'yummies/button', recipe: @recipe, user: current_user %>
          </div>
        <% else %>
          <div class="flex items-center">
            <%= image_tag "un_yummy.png", class: "w-7 h-7" %>
            <span class="text-sm ml-2"><%= @recipe.yummies_count %> Yummy!</span>
          </div>
        <% end %>

        <!--作りたいものリストボタン-->
        <% if user_signed_in? %>
          <div class="cook_later_btn">
            <%= render 'cook_laters/button', recipe: @recipe %>
          </div>
        <% end %>

        <!--今日の献立ボタン-->
        <% if user_signed_in? %>
          <div class="daily_menu_btn">
            <%= render 'daily_menus/button', recipe: @recipe %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!--TODO: 栄養素についての説明を記載する-->
  <!--栄養素表示-->
  <div class="mb-6">
    <h2 class="text-xl font-semibold mb-2"><%= t('.nutrient_include') %></h2>
      <!--t('.nutrient_include') :栄養素を含む-->
    <div class="grid grid-cols-2 gap-4">
      <% @recipe.nutrient_totals.each do |nutrient, value| %>
        <!--
          ＠recipe.nutrient_totals :対象の個々のレシピに含まれる各栄養素の値を
          nutrient:value :栄養素名と値、ハッシュの形{ nutrient : value }として取り出し、処理を行う
        -->
        <div class="flex items-center mb-2">
          <!--栄養素を表示するコンテナを作成 中央寄せにする-->
          <span class="<%= get_badge_color(nutrient) %>"style="background-color: <%= get_nutrient_color(nutrient) %>;">
            <!--
              "style="background-color: <%= get_nutrient_color(nutrient) %>;" :栄養素名に応じた背景色（バッチ内）を設定(recipes_helper.rbに記載)
              <%= get_badge_color(nutrient) %>" :引数の栄養素名がenergyの場合、文字の色を黒色にする、それ以外の栄養素名は文字を白色にする(recipes_helper.rbに記載)
            -->
            <%= t("nutrients.#{nutrient}") %>
              <!--栄養素名を表示-->
          </span>
          <span>
            <%= number_with_precision(value, precision: 2) %>
              <!--
                value :各栄養素の値が入っている
                number_with_precision( x, precision:2) :xの値を小数点以下2桁まで表示
              -->
            <%= t("nutrient_units.#{nutrient}") %>
              <!--各栄養素の単位を表示-->
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <!--材料表示-->
  <div class="mb-6">
    <h2 class="text-xl font-semibold mb-2"><%= t('.ingredient') %>(<%= @recipe.serving_size %><%= t('.serving_size') %>)</h2>
    <ul>
      <% @recipe.recipe_foods.each do |recipe_food| %>
        <li><%= recipe_food.food.name %> <%= recipe_food.quantity %><%= recipe_food.food.unit %></li>
      <% end %>
    </ul>
  </div>

  <!--手順表示-->
  <div class="mb-6">
    <h2 class="text-xl font-semibold mb-2"><%= t('.description') %></h2>
    <ol>
      <% @recipe.steps.each do |step| %>
        <li class="mb-2"><%= step.description %></li>
      <% end %>
    </ol>
  </div>

  <!--ワンポイント表示-->
  <div class="mb-6">
    <h2 class="text-xl font-semibold mb-2"><%= t('.one_point') %></h2>
    <p><%= @recipe.one_point %></p>
  </div>

  <!--投稿者のみ編集・削除ボタン表示-->
  <% if current_user == @recipe.user %>
    <div class="flex justify-center gap-8 mt-4">
      <%= link_to t('.recipe_edit'), edit_recipe_path(@recipe), class: "btn btn-secondary" %>
      <%= button_to t('.recipe_delete'), recipe_path(@recipe), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-error" %>
    </div>
  <% end %>

  <!--コメント欄タイトル-->
  <div class="flex justify-center items-center my-8">
    <h1 class="relative inline-block text-4xl font-bold px-16 py-2
              before:content-[''] before:absolute before:top-1/2 before:left-0 before:inline-block before:w-12 before:h-[2px] before:border-t before:border-b before:border-black
              after:content-[''] after:absolute after:top-1/2 after:right-0 after:inline-block after:w-12 after:h-[2px] after:border-t after:border-b after:border-black">
      <p>コメント欄</p>
    </h1>
  </div>
  <!--
    - コメント欄 -  ←このようなスタイルになる
    flex justify-center items-center :水平・垂直方向に中央寄せ
    relative :相対配置、before,afterの絶対配置の基準となる
    inline-block :インラインブロック要素、横並びにする
    before:content-[''] :before要素に空のコンテンツを設定
    before:absolute :before要素を絶対配置
    before:top-1/2 :before要素を縦方向中央に配置
    before:left-0 :before要素を横方向左端に配置
    before:inline-block :before要素をインラインブロック要素にする
  -->

  <!--コメント欄 説明文-->
  <div class="flex flex-col items-center justify-center my-8 text-center">
    <p class="inline-flex flex-col items-center">
      <span class="mb-2">作ったよ！美味しそう！など、</span></br>
      <span>このレシピに対する感想を</span>
      <span>気軽に伝えよう！</span>
    </p>
  </div>
  <!--
    flex flex-col :アイテムを縦方向に並べる
    items-center :アイテムを中央に揃える
    justify-center :アイテムを中央に配置
    text-center :テキストを中央寄せ
    inline-flex :インラインフレックスボックス
  -->

  <!--コメントフォーム-->
  <div id="new_form" class="space-y-4">
    <%= render 'comments/form', comment: Comment.new, recipe: @recipe %>
  </div>

  <!--コメント欄表示-->
  <div id="comments" class="mt-8">
    <% if @comments.present? %>
      <div class="space-y-4">
        <%= render @comments %>
      </div>
    <% else %>
      <p class="text-gray-600"><%= t('messages.not_have', model: Comment.model_name.human) %></p>
    <% end %>
  </div>
</div>
