<!--材料追加用フィールド-->
<% field_id = SecureRandom.uuid %>

<div class="add-ingredient-field mb-4" data-category="<%= category %>" id="ingredient_<%= field_id %>">
  <div class="grid grid-cols-12 gap-4 items-end">

    <div class="col-span-5">
      <%= f.collection_select :food_id, foods, :id, :name,
                              { prompt: t('recipes.ingredient.select_food') },
                              { class: "select select-bordered w-full shadow-lg" } %>
    </div>

    <!--分量フィールド-->
    <div class="col-span-5">
      <%= f.number_field  :quantity,
                          class: "input input-bordered w-full shadow-lg",
                          placeholder: t('placeholder.quantity_placeholder') %>
    </div>

    <!--削除ボタン-->
    <div class="remove col-span-2 flex justfy-center items-end">
      <%= link_to remove_ingredient_fields_recipes_path(field_id: field_id),
                  data: { turbo_method: :delete,
                  turbo_stream: true } do %>
        <%= image_tag('destroy_mark.png', alt:'削除', class: "w-12 h-12")%>
      <% end %>
    </div>
  </div>
</div>