<div class="w-full overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 bg-white rounded-lg">
  <%= link_to recipe_path(recipe), class: "block h-full" do %>
    <div class="h-48">
      <%= image_tag recipe.recipe_image.url, class: "w-full h-full object-cover" %>
    </div>
    <div class="p-4">
      <div class="badge"><%= "#{index +1}#{t('shared.menu_card.item')}" %></div>
      <h3 class="text-xl font-semibold text-amber-700 mb-2"><%= recipe.title %></h3>
      <p class="text-gray-600"><%= recipe.description %></p>
    </div>
  <% end %>
</div>
