<%= link_to recipe_path(recipe), class: "block", data: { turbo_frame: "_top" } do %>
  <div class="card bg-gray-100 shadow-xl rounded-lg overflow-hidden w-[170px] h-[390px] sm:w-[180px] h-[440px] md:w-[200px] h-[420px]">
    <div class="h-[40%] w-full overflow-hidden">
      <% if recipe.recipe_image? %>
        <%= image_tag recipe.recipe_image.url, class: "w-full h-full object-cover" %>
      <% else %>
        <%= image_tag 'recipe_no_image.png', class: "w-full h-full object-cover" %>
      <% end %>
    </div>

    <div class="p-2 h-[60%] flex flex-col justify-between">
      <div class="space-y-2">
        <!--レシピタイトル-->
        <h3 class="font-bold text-xs sm:text-sm line-clamp-2"><%= recipe.title %></h3>

        <!--ユーザー画像と名前-->
        <div class="flex items-center">
          <div class="w-5 h-5 sm:w-6 sm:h-6 rounded-xl overflow-hidden mr-2">
            <% if recipe.user&.avatar? %>
              <%= image_tag recipe.user.avatar.url, class: "w-full h-full object-cover" %>
            <% else %>
              <%= image_tag 'default_avatar.png', class: "w-full h-full object-cover" %>
            <% end %>
          </div>
          <span class="text-xs"><%= recipe.user.name %></span>
        </div>

        <div class="flex items-center space-x-1 sm:space-x-2 mb-4">
          <!--今日のおかずマーク-->
          <% if user_signed_in? && current_user.daily_menu?(recipe) %>
            <%= image_tag 'daily_menu.png', class: "w-5 h-5 sm:w-6 sm:h-6" %>
          <% end %>
          <!--作りたいものリストマーク-->
          <% if user_signed_in? && current_user.cook_later?(recipe) %>
            <%= image_tag 'cook_later.png', class: "w-5 h-5 sm:w-6 sm:h-6" %>
          <% end %>
          <!--Yummyマーク-->
          <div class="flex items-center">
            <% if user_signed_in? && recipe.yummy_by?(current_user) %>
              <%= image_tag 'yummy.png', class: "w-5 h-5 sm:w-6 sm:h-6" %>
              <span class="text-xs ml-1"><%= recipe.yummies_count %></span>
            <% elsif recipe.yummies_count > 0 %>
              <%= image_tag 'un_yummy.png', class: "w-5 h-5 sm:w-6 sm:h-6" %>
              <span class="text-xs ml-1"><%= recipe.yummies_count %></span>
            <% end %>
          </div>
        </div>

        <!--栄養素表示-->
        <div class="space-y-1 mt-5">
          <h2 class="text-xs font-semibold"><%= t('recipes.recipe_card.nutrient_name') %></h2>
          <div class="flex flex-wrap gap-1">
            <% nutrient_badges(recipe).each do |badge| %>
              <span class="badge <%= badge[:text_color] %> text-[10px] sm:text-xs" style="background-color: <%= badge[:color] %>;">
                <%= t("nutrients.#{badge[:name]}") %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>