<div class="grid grid-cols-2 gap-4">
  <% @recipes.each do |recipe| %>
    <div class="card bg-base-100 shadow-xl rounded-lg overflow-hidden" style="width: 200px; height: 500px;">
    <!--  card: カードとして扱うためのクラス
          bg-base-100: 基本的な背景色を適用
          shadow-xl: 大きめなシャドウを追加
          rounded-lg: カードの角を大きく丸める
          overflow-hidden: カードの内容がはみ出した場合に隠す
          style="width: 200px; height: 500px;": カードの幅を200px、高さを500pxに固定-->
      <div class="h-1/2 w-full flex items-center justify-center overflow-hidden">
        <!--カードの上半分を占める画像コンテナを作成-->
        <!--  h-1/2: 高さをカードの半分（50%）に設定
              w-full: 幅を親要素いっぱいに広げる
              flex items-center justify-center: 中央に配置
              overflow-hidden: はみ出た部分を隠す -->
        <%= link_to recipe_path(recipe) do %>
          <!--画像クリック時に詳細ページへ-->
          <% if recipe.recipe_image? %>
            <%= image_tag recipe.recipe_image.url, class: "w-full h-full object-contain" %>
              <!--object-contain :画像のアスペクト比を保ちつつ、コンテナ内に収める-->
          <% end %>
        <% end %>
      </div>

      <!--アバター画像とユーザー名-->
      <div class="p-4 h-1/2 flex flex-col">
        <!--カードの下半分を占めるコンテナを作成、内容は縦並びにする-->
        <div class="flex items-center mb-2">
          <!--アバターとユーザー名を横並びにする-->
          <div class="w-8 h-8 rounded-xl overflow-hidden mr-2">
            <%= link_to "#" do %>
              <!--TODO: avatarクリック時プロフィールページへ-->
              <% if recipe.user&.avatar? %>
                <%= image_tag(recipe.user.avatar.url, class: "w-full h-full object-cover") %>
              <% end %>
            <% end %>
          </div>
          <div class="pt-5 text-xs"><%= recipe.user.name %></div>
        </div>

        <!--レシピ名-->
        <h3 class="font-bold text-sm mb-2"><%= recipe.title %></h3>

        <!--栄養素表示-->
        <h2 class="text-xs font-semibold mb-1"><%= t('recipes.recipe_card.nutrient_name') %></h2>
        <div class="flex flex-wrap gap-1">
          <!--flex-wrap :要素が多い場合、折り返す-->
          <%= nutrient_badges(recipe) %>
          <% if recipe.nutrient_names.empty? %>
            <p class="text-xs text-gray-500"><%= t('recipes.recipe_card.not_nutrient_found') %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>