<%= turbo_frame_tag "yummy_btn_#{recipe.id}" do %>
  <div class="flex items-center">
    <% if recipe.yummy_by?(user) %>
      <%= button_to recipe_yummies_path(recipe), method: :delete do %>
        <%= image_tag 'yummy.png', class: "w-9 h-9" %>
      <% end %>
    <% else %>
      <%= button_to  recipe_yummies_path(recipe), method: :post do %>
        <%= image_tag 'un_yummy.png', class: "w-9 h-9" %>
      <% end %>
    <% end %>
    <span class="text-sm ml-2"><%= recipe.yummies_count %> Yummy!</span>
      <!--recipeテーブルのyummies_countカラムを参照して、個々のレシピの持つyummy数を取得、表示する-->
  </div>
<% end %>
