<%= turbo_frame_tag "cook_later_btn_#{@recipe.id}" do %>
  <div class="flex items-center">
    <% if current_user.cook_later?(@recipe) %>
      <%= button_to cook_later_path(current_user.cook_laters.find_by(recipe_id: @recipe.id)), method: :delete do %>
        <%= image_tag 'cook_later.png', class: "w-8 h-8" %>
      <% end %>
    <% else %>
      <%= button_to cook_laters_path(recipe_id: @recipe.id), method: :post do %>
        <%= image_tag 'un_cook_later.png', class: "w-8 h-8"%>
      <% end %>
    <% end %>
    <span class="flex justify-center text-xs ml-2"><%= t('recipes.cook_laters.title')%></span>
  </div>
<% end %>

<!--
  current_userはrecipeを作りたいものリストに追加している？(Recipe.find(params[:recipe_id])
  -追加済みの場合(true)-
  点灯したアイコンを表示し、URLはdestroyアクションに設定
  (ログイン中のユーザーの作りたいものリストの中からfind＿byメソッド(一致する最初のレコードを取得)で、recipe_idと削除しようとしているrecipe.idが一致するidを取得)

  -追加していない場合(false)-
  消灯したアイコンを表示し、URLはcreateアクションに設定
  (recipe_idをパラメータとして送信している(どのレシピを追加するかをrecipe.idで判定するため))
-->